@page "/account"

@using Microsoft.AspNetCore.Authorization;
@using WebApp.Auth;
@using WebApp.Models;
@using WebApp.Services;

@inject IAccountService AccountService;



@if (AccountService.IsAuthenticated == false)
{
    <h1>Account: Anonym)</h1>
    <NavLink href="account/login" class="btn btn-sm btn-success mb-2">Login</NavLink>
    <NavLink href="account/register" class="btn btn-link">Registrér dig som bruger</NavLink>
}
else
{
    <h1>Velkommen: @(AccountService.User?.FullName ?? "CurrentUserName")</h1>
}

@code {

    protected override async Task OnInitializedAsync()
    {
    }
}