@page "/"

@using Microsoft.AspNetCore.Authorization
@using WebApp.Auth

@attribute [Authorize]
@inject IAccountService AccountService

<PageTitle>Albani Support</PageTitle>

<div class="text-center">
    <h1> Velkommen Lokale Verdensmænd</h1>
    <div class="p-4">
        <div class="container">
            <h1>Hi @(AccountService.User?.FirstName ?? "Guest")</h1>
        </div>
    </div>
</div>